
header{
    background-color: #1F3E74;
    color: #FFF;

    display: flex;
    justify-content: space-between;

}

header > nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile {
    background-image: url("./images/user.svg");
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: auto;
    border-width: 0px;
    display: inline-block;
    padding: 0 !important;
    margin-right: 15px;
    margin-left: 10px;

}

.nav-item{
    padding: 16px;
    cursor: pointer;
    position: relative;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-image > img{
    height: 80px;
    width: 57px;
    padding:0 10px;
}
.logo > svg{
    width: 172px;
    height: 36px;
}

.drop-down{
    display: none;
    position: absolute;
    left: 0px;
    background-color: #406cb4;
    min-width: 160px;
    z-index: 1;
  }
  .drop-down2{
    display: none;
    position: absolute;
    right: 0px;
    background-color: #406cb4;
    min-width: 160px;
    z-index: 1;
  }

  .nav-item:hover .drop-down{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .nav-item:hover .drop-down2{
    display: flex;
  }
  .drop-down2{
    display: none;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    min-width: 350px;
  }
  .col1, .col2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .col1{
    border-right: 1px solid gray;
  }

  .nav-item:hover{
    background-color: #406cb4;
  }

  .tools{
    border-right: 5px solid #FFF;
  }